<!DOCTYPE html>
<html>
    <head>
        <title>Dojos</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Dojos</h1>
        <p>A dojo is the super sacred learning place</p>
        <form action="{{ url_for('dojos_new')}}" method="post">
            First name: <input type="text" name="fname"><br>
            Last name: <input type="text" name="lname"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>