body{
    text-align: center;
}

h3{
    margin-top: 7em;
}
.box {
    height: 20em;
    width: 20em;
    color: white;
    vertical-align: top;
    display: inline-block;
}

div.low {
    background-color: red;
}

div.high {
    background-color: red
}

div.correct {
    background-color: green;
}